.loadingImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right;
}

.pull-left{
  float: left;
}

.searchBar{
  height: 30px;
  width: 400px;
}

.pull-right input[type=text] {
  padding: 6px;
  margin-top: 0px;
  font-size: 17px;
  border: none;
}
